h1{
    color: blueviolet;
    text-align: center;

}

#todo-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%; 
    margin: 0 auto;  
}

.list-item{
    /* color: grey; */
    gap: 2em;
    font-size: larger;
    display: flex;
    align-items:center;
    background-color:rgb(233, 224, 224);
    padding-left: 1em;
    justify-content: space-between;
}

.list-item img{
    height: 30px;
    visibility: hidden;
}

.completed{
    background-color: rgb(181, 248, 248); 
}

.completed img {
    visibility: visible;
    padding-right: 10px;
}