.profile-card{
  background-color: rgb(217, 189, 243);
  padding: 2%;
}

.profile-card img{
  border-radius: 50%;
 

}

.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.details p{
  font-size: larger;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
}